[2021-04-21 10:04] Sh4zKh4n opened #1 "Guide and information on using legate"
Legate got suggested as a library I should look at during a couple of sessions I attended at GTC2021. I just wondered if there was somewhere or someone I could get some information on how to use the library? My use case is with volume data, which is array data. From the slides from GTC 2020, it appears that the data is split a bit like a quad tree implementation. It would be greatto get some infor

[2021-04-21 20:13] marcinz commented on #1
We currently have two libraries of interest released publically:

- Pandas: https://github.com/nv-legate/legate.pandas
- Numpy: https://github.com/nv-legate/legate.numpy

It sounds like you may be more interested in Numpy for your application. If you already use Numpy, than you should be able to just run your program using Legate Numpy. For a quick start, you can find some examples on how to use t

[2021-04-25 16:34] piyueh opened #2 "legate.py steals command-line arguments from target applications"
## Problem

Lunching [`jacobi.py`](https://github.com/nv-legate/legate.numpy/blob/master/examples/jacobi.py) using `legate` with the flag `--num` does not change the size of the matrix `A` in the Jacobi example.

## Steps to reproduce

1. Install both `legate.core` and `legate.numpy`
2. Go to the example folder of `legate.numpy`
3. Run the `jacobi.py` code with `legate` with `legate --cpus 1 --omp

[2021-04-26 07:24] piyueh opened #3 "Flag --summarize causing error: "unrecognized arguments: -lg:summarize""
## Version info

legate.core: commit 18cb8fd34196f7aa8721608226a7b1b9fadfb17c
legate.numpy: 026061b

## Steps to reproduce

1. Go to legate.numpy/example
2. Execute `legate --cpus 1 --summarize ./jacobi.py`

## Expected and actual output

The expected result is the normal outputs from `jacobi.py` plus whatever the `summarize` should output.

The actual output is an error message: `jacobi.py: error

[2021-04-26 21:49] piyueh opened #4 "How to correctly use OpenMP backend?"
My test machine has only one CPU socket. This CPU has 6 physical cores and a total of 12 logical cores. Using the script `legate` (i.e., `legate.py`), how to correctly specify flags for OpenMP, especially the flags `--cpus`, `--omps`, and `--ompthreads` (and probability also `--utility`)? Or is there documentation about how to use these flags? I read Legion's [documentation](https://legion.stanfor

[2021-04-26 22:16] manopapad commented on #3
Thank you for this report. It looks like this argument has been renamed to `-lg:numpy:summarize`, and is now handled by legate.numpy, but the old version had not been removed from the main legate launcher (I removed it just now). `-lg:numpy:summarize` should work, if you'd like to try it. Unfortunately it looks like we are not properly documenting this argument in legate.numpy, so I opened a separ

[2021-04-26 22:16] #3 closed

[2021-04-26 23:10] manopapad commented on #4
Thank you for your continued interest in Legate, and your patience as we iron things out post-release.

Core allocation is unfortunately not straightforward, and is not actually managed by us but by the Realm level below us.

Legate asks Realm to allocate `--cpus` cores to be CPU processors (these run non-OpenMP CPU code), 1 core to be the Python processor (this runs the Python interpreter) and `-

[2021-04-27 00:13] manopapad commented on #2
Thanks for triaging this issue! I followed your suggestion and disabled abbreviations in the launcher script.

The practice of having each layer consume the arguments it recognizes is common across the Legate/Legion/Realm codebases, but it's not as big of a problem with other libraries, because most of their arguments have a library-specific prefix (e.g. `-ll:show_rsrv`). We could do the same with

[2021-04-27 00:38] streichler commented on #4
One tiny tweak to what @manopapad said: to tell Realm to consider hyperthreads to be separate execution resources, you need `-ll:ht_sharing 0`.  (The default is `-ll:ht_sharing 1`.)

[2021-04-27 06:19] piyueh commented on #4
Thank you @manopapad and @streichler ! I think I understand it now.

1. Yes, using `--cpus 0` (or `-ll:cpu 0` with `legion_python`) gives me errors. I need to also use `-ll:okindhack`, and then everything works. The errors (different errors when w/ or w/o utility processes):

    1. w/o utility processes (`legion_python -ll:py 1 -ll:cpu 0 -ll:ocpu 1 -ll:othr 1 -ll:util 0 ./jacobi.py`)
[code]
    2

[2021-04-27 16:16] laytonjbgmail opened #5 "Building leagte.core with Anaconda"
I'm following the directions to the legate.core. The command line I'm using is,

$ sudo ./install.py --cuda --with-cuda $CUDA_PATH --arch volta --install-dir /usr/local/legate

I get the error message:

/usr/bin/env: ‘python’: No such file or directory

The system is Ubuntu 20.04 with Anaconda 4.10.1. I downloaded legate.core early in the morning of 4/27/2021 (before 7:00 am EDT).

BTW - I'm using

[2021-04-27 17:03] manopapad commented on #5
It looks like the python executable is not in your `$PATH` (i.e. if you just try to run `python` in a shell it won't be found). If you're trying to use the python from Anaconda you probably want to run `conda init`, to add some commands to your shell startup file (likely `~/.bashrc`) that initialize the conda environment. Then the next shell you open should be able to find a python executable.

`$

[2021-04-27 20:10] marcinz commented on #5
Also, `$CUDA_PATH` should resolve to the directory where CUDA is installed. One easy way to know what that directory should be is to run `which nvcc` and copy it from there.

[2021-04-27 20:11] #1 closed

[2021-04-27 23:47] laytonjbgmail commented on #5
OK, I installed CUDA 11.3 following these directions:

https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&=Ubuntu&target_version=20.04&target_type=deb_local

Everything installed correctly. When I did "which nvcc" I get the following:

$ which nvcc
/opt/nvidia/hpc_sdk/Linux_x86_64/21.3/compilers/bin/nvcc

(I have HPC SDK 21.3 installed).

Then I tried the following inst

[2021-04-27 23:56] manopapad commented on #5
Can you try installing as a user, i.e. run `install.py` without `sudo`, and select an `--install-dir` in your `$HOME`?

[2021-05-04 04:02] #4 closed

[2021-05-04 22:38] manopapad commented on #5
@laytonjbgmail have you been able to solve this with a user-mode installation?

[2021-05-04 22:43] manopapad opened #6 "Add RAFT to CUDA libraries managed by legate.core"
Since 0.16 a lot of helper code from various RAPIDS projects has been collected into a single header-only library, [RAFT](https://github.com/rapidsai/raft).

The "handles" from multiple libraries (e.g. cuML, cuGraph) have been unified into a single [RAFT handle](https://github.com/rapidsai/raft/blob/branch-0.18/cpp/include/raft/handle.hpp#L49); if we want to use functions from these libraries we n

[2021-05-04 22:45] manopapad opened #7 "Add NCCL to CUDA libraries managed by legate.core"
The implementation would probably follow this recipe for initializing one NCCL rank per GPU in Legion: https://gitlab.com/StanfordLegion/legion/-/blob/master/examples/nccl/nccl_legion_demo.cu.

Libraries like legate.pandas that are currently initializing NCCL internally would want to switch to using this.

If we incorporate RAFT in legate.core, we can pass the NCCL communicator that we initialize

[2021-05-04 22:50] manopapad opened #8 "Record important compile-time settings"
We should have a system similar to Legion's legion_defines.h for recording the values of certain compile-time flags that are important to know when compiling or running code against legate.core.

Legion uses this system, for example, to record the maximum number of dimensions that the runtime supports, which is important for the regent compiler to know when generating code that will run against th

[2021-05-04 22:59] manopapad opened #9 "Common testing infrastructure for Legate libraries"
Currently, each Legate library has its own `test.py` script for testing, but this makes it hard to propagate improvements in one script to the others. For example, Legate Pandas' script can run GPU tests in parallel without exceeding the resource limit (which reduces testing time a lot). We should build a common testing driver in the core so that the individual test drivers can inherit improvement

[2021-05-04 23:00] manopapad opened #10 "Support for Building with Clang"
We can only compile with gcc compilers and nvcc right now. We can use clang to build CPU-only versions of Legate, but there are things that clang accepts which nvcc does not and vice-versa.

[2021-05-04 23:01] manopapad opened #11 "Interface for sharded I/O of existing data"
We need an interface for ingesting sharded data from individual processes and then getting it back out again when users are done with it.

[2021-05-05 09:44] lightsighter commented on #10
`nvc++` should work in addition to `gcc`.

[2021-05-10 09:58] MatthiasKohl opened #12 "C -> python interface for regions"
I'm not sure whether this is related to issue #11 but it would be good to provide an easier interface to handle existing C-level data in python, in particular for regions, but possibly other objects, too.

In particular, if we have a handle to a region in C, it's difficult to create a corresponding `legate.core.legion.Region` object:
1. I believe there is no way right now to get the fields of a fi

[2021-05-10 21:48] manopapad commented on #12
I have added support for initializing a `FieldSpace` object from an existing handle, it should be ready to use once https://gitlab.com/StanfordLegion/legion/-/merge_requests/387 and https://github.com/nv-legate/legate.core/pull/13 are merged. Please try it out once possible and let me know if these changes are sufficient.

[2021-05-11 01:14] manopapad commented on #12
One comment that came up during the review of the above changes is that the existing FieldSpace class assumes it's the only code that will be allocating fields in the managed field space, so passing it an externally-created field space handle is potentially unsafe. We might want to create a different class for this use-case.

How exactly are you getting the field space handle, and what do you want

[2021-05-11 18:31] manopapad opened #14 "Remove leftover python2 code"
There are some statements in the codebase meant to handle Python 2, e.g.:
https://github.com/nv-legate/legate.core/blob/0bcd6f1081f02fb63871df7f791e68f361b97740/legate.py#L31-L34
Since our minimum Python version is 3.7, we can remove this logic (from the core and other libraries).

[2021-05-12 23:08] jeffhammond opened #15 "FileNotFoundError: [Errno 2] No such file or directory: 'python' (Python3 is there)"
I do not use Python2, but I am using Ubuntu 20 and Python3 is `python3`.  I did `alias python=python3` but that didn't help.  I tried with Python2 (as `python`) but that failed too (see second section).

How do I install with Python3?  Thanks.

# Python3
[code]

# Python2
[code]

[2021-05-12 23:10] jeffhammond commented on #15
[code]
[py3.log](https://github.com/nv-legate/legate.core/files/6469488/py3.log)

[2021-05-12 23:25] manopapad commented on #15
Can you pull and try again?

[2021-05-12 23:32] jeffhammond commented on #15
Thanks! That fixes it.

[2021-05-12 23:32] #15 closed

[2021-05-13 00:02] manopapad commented on #14
We probably also want to update all shebangs to explicitly invoke python3.

[2021-05-13 09:09] lightsighter commented on #14
Technically that should be implied since Python 2 is dead, but I wouldn't object too loudly if we did that.

[2021-05-13 09:16] lightsighter commented on #2
I don't think I want to enforce that formulation unless we have to. I 'm happy with the @manopapad solution to just prevent abbreviations from parsing.

[2021-05-13 19:48] piyueh opened #16 "The default value of `--logdir` is not really the current directory"
This is a minor issue. The help message of `legate` says the default value of `--logdir` is the current directory.  However, the actual default value of `--logdir` is where the script `legate` is installed. See https://github.com/nv-legate/legate.core/blob/9e327b771fc67401497d69aca93d24438e7b78ea/legate.py#L661

This is a bit confusing. At least for me, I thought the *current directory* means the

[2021-05-13 23:41] manopapad commented on #16
Fixed, thanks for pointing this out!

[2021-05-13 23:41] #16 closed

[2021-05-14 01:15] marcinz opened #17 "Institute CI using Github actions"
Port CI to github actions.

[2021-05-16 19:46] MatthiasKohl commented on #12
Sorry for the late response, I had an issue with the mail associated with this account.

It is created by a separate module in C++ which the python code doesn't have control over. But the python code should take ownership of that field space.

I don't need this at all actually, but ultimately, I want to be able to obtain a `Region` object in python (which should work with legate.numpy) from a `Log

[2021-05-23 08:42] lightsighter commented on #12
Sorry for the slow response on this. One dimension we should at least consider here is whether this could be improved by using Cython which is something we've been considering to improve our interfaces for calling from Python to C. It might make transitioning back and forth between C/C++ and Python in both directions easier as well.

[2021-05-26 01:43] manopapad commented on #2
Another argument for separating arguments per layer is so we can recognize typos in the arguments meant for a specific layer. If arguments can appear in any order then the best a layer can do is consume the arguments it recognizes exactly, and assume any unrecognized arguments (even if they look suspiciously like something it accepts, e.g.. `--proofile`) will be consumed by another layer.

[2021-05-26 10:02] MatthiasKohl commented on #12
I think Cython would be useful here if it allows to directly call the Legion C++ API.
OTOH, we'd still need a python class for field space that takes ownership of an external handle, rather than assuming it was created by the class.
This might be easier to implement with Cython though.

[2021-05-26 19:22] lightsighter commented on #12
It should definitely be able to do that.

@MatthiasKohl can you do some investigation on the side to see how we might use Cython with Legate? I'm far from an expert, so it would be good to know what is and isn't possible and make sure we're not just attributing the ability to do things to Cython that it really can't handle.

[2021-05-27 15:27] MatthiasKohl commented on #12
Sure, will do. I remember I already looked into this last year once, but I ran into some issues due to templates, but I didn't try for long. Let's see if I can work around that.

[2021-05-27 19:29] lightsighter commented on #12
If we need to cut down the Legion C++ API in some way (e.g. with macros to mask off some parts) to get what we need through Cython, then we can do that. The Legion C API though should be able to go through Cython without any trouble though I would hope.

[2021-05-30 05:21] piyueh commented on #2
From the viewpoint of an application developer, preventing abbreviation is not enough. Some commonly seen flags/arguments, such as `--verbose` and `--help`, may exist at the same time in `legate` launcher and an application. For example, many examples in `legate.numpy/examples` support the flag `--verbose` for detailed output. None of them is working when using `legate` launcher because `legate` c

[2021-06-02 13:57] MatthiasKohl commented on #12
After some time investigating this, I can see the following arguments against using Cython:
- You need to re-declare the whole header file to make it usable to cython (using `cdef` declarations). This is not needed by CFFI
- It's probably possible to either write our own tool to speed up the process above or use a tool to help with this process, like [xdress](https://xdress.github.io/index.html),

[2021-06-02 23:09] lightsighter commented on #12
Definitely don't do this :) At least for now. We need to talk about whether/how to do this and we should consult some Cython experts. I suspect the answer might be we Cythonize only the C API and not the C++ API. I do think we'll need Cython eventually for performance reasons, but it's not strictly necessary at the moment.

Also, I think we'll probably need to do this for the Legate Core C++ imple

[2021-06-02 23:42] manopapad commented on #12
With #13 merged we now support initializing a `FieldSpace` object from a `legion_field_space_t` handle (with reduced capabilities than if the `FieldSpace` had been constructed in Legate), so that should be enough to allow you to create a `Region` object for a region allocated in C++.

Keeping the issue open to track the discussion on Cython-izing the Legate API.

[2021-06-03 21:07] mmccarty opened #21 "Adopt NEP 29 for Python version support"
I propose `legate` adopts [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html), which suggests supporting Python 3.7+ until Dec 26, 2021 and then 3.8+. The RAPIDS project general follows this support model.

Any objections?

[2021-06-07 10:51] lightsighter commented on #21
Works for me. I think Python 3.6 has already bit-rotted for us, which is why we currently say that 3.7 is the minimum version. I'm not sure we have any 3.9 tests in the CI though at the moment. I fixed a bug in one of the install scripts that 3.9 exercised a week or two ago.

[2021-06-07 13:52] MatthiasKohl commented on #12
@manopapad : Great, had a quick look and this should work well for me.

@lightsighter :

The issue is that most other libraries do make use of the CFFI library. I had a quick look at legate/numpy/runtime.py and there are quite a few references to the `legion` object from `legate.core` which is basically the FFI library and this is going to be substantially different with cython. The underlying han

[2021-06-08 09:01] lightsighter commented on #12
I agree. Can you go ahead and set this up. Let's see if we can't invite a Cython expert as well. @magnatelee for visibility.

[2021-06-14 14:29] mmccarty opened #23 "Add Python 3.9 testing to CI"
To support NEP 29 as mentioned in #21

[2021-06-16 19:54] manopapad opened #26 "Show full execution context in backtraces from failed task executions"
Currently if an error occurs inside a task launched from legate we only have access to the state of execution within the runtime, and thus can only print (and inspect inside a debugger) the stack up to the point where the task starts. For debugging it would be useful to also know the state of the program when the task was launched.

The execution of a task is normally disconnected from its launch,

[2021-06-17 02:35] manopapad opened #27 "Test suite additional configurations"
Collecting some ideas on additional ways to run our existing tests:

- [ ] Include code coverage metrics, so we can find the parts of our codebase not being exercised.
- [X] Run tests in CPU, OpenMP and GPU mode.
- [ ] Run at various core counts (e.g. 1, 2, 4 and 8}.
- [ ] Run with and without partitioning (in legate.numpy we force partitioned execution with `NUMPY_TEST=1`).
- [ ] Multi-rank runs

[2021-07-01 21:49] manopapad commented on #5
Closing this issue due to inactivity, please feel free to reopen if you would like to revisit this.

[2021-07-01 21:49] #5 closed

[2021-07-16 04:00] MiZhangWhuer opened #29 "Any C++ example to use legate.core"
Hi,
    I know that the legate.core is designed for numpy/python application. Would you mind to provide some guidance on how to use the library with C++ program? I tried to run the hello program as follows, but in vain. Can you give some examples to call the function from C++ frontend?

int main(int argc, char **argv)
{
  Runtime::initialize(&argc, &argv);
  legate_hello_perform_registration();

[2021-07-17 00:09] magnatelee commented on #29
Legate Core isn't quite suitable to use in a C++ program at the moment, but we're now actively working on it to make it usable with C++. Can you get back to us in a couple of months? We should have a C++ API for Legate Core by then.

[2021-08-17 21:52] manopapad opened #40 "Slicing an Nd view of a 1d array on dimensions other than the first"
Transformations required for cases like the following:

[code]

are not currently supported:

[code]

The reason is that, if we wanted to make a tight instance for such subregions we would end up with sparse instances. We could create over-approximate partitions (using a bounding box). This would still allow us to make affine accessors, and the mapper is going to create over-approximate dense inst

[2021-08-18 09:54] lightsighter commented on #40
Shouldn't we be able to abstract over the accessor interface? I think specializing `FieldAccessor` with either of `AffineAccessor` or `MultiAffineAccessor` should provide nearly identical interfaces with the one exception of the `ptr` call which has the same type, but will have slightly different behavior under the two scenarios. @streichler: in the case of an instance where there is only one piec

[2021-08-18 17:05] streichler commented on #40
A `MultiAffineAccessor` that is created for an instance with only one piece (or in some cases when a `subrect` restriction is used and limits things to a single piece) will recognize that fact and cache the piece information at accessor construction time rather than doing dynamic piece lookups.  Currently, each access pays for a bounds check against the piece's extent, but I can/should reduce that

[2021-08-18 19:26] lightsighter commented on #40
@magnatelee @manopapad Based on the answer on the overheads, is there any reason we shouldn't just always use a `MultiAffineAccessor` and therefore be be able to transparently handle the case of having multiple pieces in the instances?

[2021-08-18 21:54] magnatelee commented on #40
I'm not too worried about accessing the instances, and yes, we can use `MultiAffineAccessor` by default, given that the associated overhead seems negligible for the typical single-piece case. I'm mainly concerned about the fact that there's no handy way to construct the necessary partitions; it would be ideal if there was an operator that could create the partitions using constant size metadata.

[2021-08-19 09:17] lightsighter commented on #40
@magnatelee and I discussed the plan for a new partitioning operator today that we think would address the problem of getting the right index spaces for the subregions. We'll present it at an upcoming Legion meeting.

[2021-08-20 13:39] mmccarty commented on #29
@MiZhangWhuer - I'd be interested in learning more about your use case for C++ if you can share it here. Thanks!

[2021-08-20 14:10] mmccarty opened #45 "Automated CI job for releasing on merge to `main`"
PR #44 had stated the following...

However, I don't believe we have this level of automation in our CI at this time. We don't have packages, yet. I'm removing this from the PR and opening this issue for tracking.

cc @marcinz

[2021-08-20 14:13] mmccarty commented on #45
Also, for consideration...

[2021-08-23 03:37] kwaters4 opened #48 "Installing Legate.Core __habs undefined (Legion Runtime)"
# Problem
I am compiling the Legate.core and I am getting the following error inside of the legion/runtime directory.

[code]

# Steps to reproduce
[code]

# Versions
[code]

I was able to clone and run tests from the legion runtime.
I am unsure where to go next to tackle this undefined function.
Any help is appreciated. Just let me know if I should post this with the legion runtime folks.

[2021-08-23 17:46] manopapad commented on #48
It looks like the host compiler invoked by `nvcc` is not finding function `__habs` from `cuda_fp16.h`. Could you please run the install script again from the same directory, using the following command line, and share the output?

[code]

Unrelated, but AFAIU `--python-lib` takes a dynamic, not a static library (this file is eventually `dlopen`-ed by Realm), and should only be necessary if you wan

[2021-08-24 01:39] kwaters4 commented on #48
Thanks for the suggestion about the dynamic library, I have a new install and forgot to install a developer version so the .so file did not exist. I changed to Python 3.9.2 and reproduced the error.

Turing should be compatible with the Volta architecture?

# Command
NVCC_FLAGS=-v ./install.py --cuda --with-cuda /usr/local/cuda-10.1 -j 1 --noclean --verbose

# Output
[code]

[2021-08-24 02:11] manopapad commented on #48
I don't see an obvious issue on your output. Could you give us some more info on your CUDA installation? Specifically, please provide the output of `nvidia-smi` on your system, and confirm that you can find the following header file: `/usr/local/cuda-10.1/include/cuda_fp16.h`.

Also, please try to build the Legion python interpreter manually, to verify this isn't something specific to the legate.c

[2021-08-24 04:03] kwaters4 commented on #48
# Issue
I was able to solve the issue __habs issue, thanks! It was a case of user error, mismatched CUDA.
```nvidia-smi``` produced 11.4.

I installed ```CUDA 11.4``` to match the output from ```nvidia-smi``` and compiled legate.core against it.

I was able to build legate.core and the legion python interpreter with the command you provided, with the path to cuda 11.4.

I can open separate issues

[2021-08-24 17:09] marcinz commented on #45
I think that as far as CI is concerned, we can do this. It will take a new workflow, but technically there should be no blockers.

[2021-08-24 17:51] manopapad commented on #48
Thanks for catching that, it looks like cffi was missing from the dependencies list, I added it.

Please run your python program using `<legate-install-dir>/bin/legate`. This script will set up the required environment variables and start Legion before executing your program.

[2021-08-25 00:50] kwaters4 commented on #48
Perfect. Sorry about missing some of the documentation!

Thanks.

[2021-08-25 00:54] manopapad commented on #48
Sounds good, thanks for trying out Legate!

[2021-08-25 00:54] #48 closed

[2021-09-06 23:44] marcinz opened #53 "Investigate turning off CI in forked repos"
In forked repos, the appropriate runners are not available, and the CI always fails. This may be confusing to forking users.

[2021-09-06 23:45] marcinz commented on #53
Same applies to NumPy and Pandas.

[2021-09-17 22:02] magnatelee opened #57 "Run Legion Spy and Prof only for successful runs"
The launcher seems to be running post-processing scripts for Legion Spy and Prof even when the program terminated with an error. I think we should check the exit code and skip that part when it was not 0.

[2021-10-18 20:12] magnatelee opened #77 "Interpreter check"
As part of our preparation for the release, we need to add a check that detects if we're not running on a legion python interpreter and if so, prints out a nice error message that also tells the user how to run Legate programs correctly.

[2021-10-29 21:31] manopapad opened #83 "Linearize can produce non-dense domains, slice_task complains"
This testcase https://github.com/manopapad/cunumeric/blob/ingest/tests/ingest.py#L97 produces a situation where the `LinearizingShardingFunctor` produces non-dense slice domains, and `BaseMapper::slice_task` is unhappy about that.

[code]

In this example I am using `colorspace = (5,3)`, 2 shards, and setting up a Tiling manually.

You need the following branches to run this test: https://github.c

[2021-11-02 15:39] manopapad commented on #83
I have triggered this on branch-22.01 as well:

[code]

[2021-11-03 17:55] magnatelee commented on #77
Closed by #78.

[2021-11-03 17:55] #77 closed

[2021-11-15 21:49] thiago-carneiro opened #106 "Conda install fails on osx"
PackagesNotFoundError: The following packages are not available from current channels:

  - legate-core

Current channels:

  - https://conda.anaconda.org/nvidia/osx-arm64
  - https://conda.anaconda.org/nvidia/noarch
  - https://conda.anaconda.org/conda-forge/osx-arm64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://conda.anaconda.org/legate/osx-arm64
  - https://conda.anaconda.org/l

[2021-11-16 09:24] milwd opened #107 "error in install.py"
greetings, I'm trying to install legate.core on jetson nano (CUDA arch-5.3 and version-10.2.3). I have also pre-installed numpy_1.19, cffi, pyarrow and it's got g++.
I tried to install from source -and with gpu and cuda support- using file : install.py
but I'm getting this error :
sudo python3 install.py --cuda --with-cuda /usr/local/cuda-10 --arch maxwell --install-dir /usr/local/legate/

Using p

[2021-11-16 11:22] lightsighter commented on #107
Would you mind trying to upgrade to Python 3.7 or later? Python 3.7 is the minimum version of Python that we support for the Legate Core at the moment. Thanks.

https://github.com/nv-legate/legate.core/blob/branch-22.01/conda/core_dev.yml#L10

[2021-11-16 14:11] milwd commented on #107
It was a problem of Legion gitlab-repository not being cloned correctly, and after fixing it, legate installed completely and import-checked :).
Regarding Python version, I did run into a problem with it (install.py->line 31 sys.stdout.reconfigure(line_buffering=True)) which I'm aware, was implemented in Python=>3.7. I commented that line (witnessed a flushedless terminal :)) and it went On workin

[2021-11-16 14:11] #107 closed

[2021-11-17 00:46] manopapad commented on #106
For this release we only built conda packages for Linux. We will likely add packages for other platforms in the future, but for now you will need to build from source on MacOS. If you are interested in trying that I am happy to provide assistance (everything should be functional, I build on my local MacOS machine regularly, just note that OpenMP is not supported by the default clang compiler).

[2021-11-19 00:42] #83 closed

[2021-12-20 06:22] BS-astronomer opened #123 "Can't install legate.core with CUDA"
I tried to install legate.core with CUDA in workstations with gaming GPUs (RTX 3090 and GTX1080) and did not succeed. I am getting errors like:

Already on 'control_replication'
/home/beka/opt/legate.core/legion/runtime/mathtypes/complex.h(126): error: more than one conversion function from "__half" to a built-in type applies:
            function "__half::operator float() const"
/usr/local/cuda//

[2021-12-20 06:39] BS-astronomer commented on #123
I have managed to get the correct arch=sm_61 or sm_86, but the problem is not resolved yet.
I cannot understand why do I have such problems.

[2021-12-20 06:45] manopapad commented on #123
Could you please share the build command you are using, and the full output from the build? Also your OS and CUDA toolkit version?

[2021-12-20 07:40] BS-astronomer commented on #123
Thank you very much for your quick response.

I am working on Ubuntu 20.04.3 LTS (Focal Fossa) 64-bit
Kernel Linux 5.4.0-91-generic x86_64
CUDA 11.5

I am using setup.py and install.py as they are shown in the getting started.
./setup.py --intall-dir /home/beka/opt/legate
./install.py --cuda --with-cuda /usr/local/cuda/ --arch pascal

To change sm_60 to sm_61 I have edited legate.core/legion/runti

[2021-12-20 08:02] manopapad commented on #123
Thanks for the output. It looks like `nvcc` is not picking up the `__half` (half-precision floating point) datatype from the CUDA runtime libraries when compiling `legion_redop.cu`. Possibly the specific GPU model does not have native half precision support? I will need to dig into this a little more, but possibly @lightsighter has an idea?

I think `--arch 61` would have also worked.

[2021-12-21 20:54] manopapad commented on #123
This was an issue with Legion erroneously disabling some half-precision operator implementations under CUDA 11.5. I have a fix https://gitlab.com/StanfordLegion/legion/-/merge_requests/422 waiting to pass CI. Assuming it completes, @lightsighter will need to merge it into the `control_replication` branch that Legate uses. @BS-astronomer if you'd like to test this immediately, please apply the asso

[2021-12-22 05:53] BS-astronomer commented on #123
@manopapad Thank you very much! The solution worked.

legate seems working now. But I am facing another error:

File "test_001.py", line 1, in <module>
    import legate.numpy as np
ModuleNotFoundError: No module named 'legate.numpy'

Should I install this package separately? Or am I missing something?

[2021-12-22 07:13] manopapad commented on #123
You will need to install [cunumeric](https://github.com/nv-legate/cunumeric) (legate.numpy was recently renamed to cunumeric), and change the import statement to `import cunumeric`.

And make sure you use the legate launcher `<legate-install-dir>/bin/legate` to run your script.

[2021-12-22 07:19] BS-astronomer commented on #123
Thank you very much for your help! Your work is very much appreciated!

[2021-12-22 07:19] #123 closed

[2022-01-11 22:49] HarryES95 commented on #106
Hi, would you be able to provide a guide for building from source? I have tried install.py however I am receiving a KeyError:
`python install.py --cuda --with-cuda 'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA'`

`
Traceback (most recent call last):
  File "setup.py", line 80, in <module>
    exec(code)
  File "install.py", line 941, in <module>
    driver()
  File "install.py", line 937, in

[2022-01-12 18:23] manopapad opened #127 "Building on Windows"
We currently only provide conda packages for Linux. For other platforms users will need to build from source. We have not tried to do this on Windows platforms.

As @HarryES95 notes on https://github.com/nv-legate/legate.core/issues/106, some of our scripts do not expect to be called on a Windows environment. However, the larger problem is that Legion (the distributed runtime that Legate is built

[2022-01-12 18:24] manopapad commented on #106
@HarryES95 I opened https://github.com/nv-legate/legate.core/issues/127 to address your question

[2022-01-13 07:10] lightsighter commented on #127
I'll add that Windows is on the road map of important things to do, but it probably will not happen in the near future.

[2022-01-13 12:38] HarryES95 commented on #127
Thanks both, will switch to Linux in the meantime!

[2022-01-27 17:19] magnatelee opened #133 "Scalar reduction stores can be uninitialized"
The semantics of reduction stores admits partial updates, including the "uninitialized" case where the task didn't touch the store at all. However, as reported by [this comment](https://github.com/nv-legate/cunumeric/pull/170#discussion_r792811192), the current implementation requires an accessor be created to make that case work. This shouldn't be a requirement and the postamble should be able to

[2022-02-11 08:48] YarShev opened #138 "The use of legate.cunumeric and legate.pandas in jupyter notebook"
Hi guys, I wonder if it is possible to use legate.cunumeric and legate.pandas in jupyter notebook? If there are any docs on this, could you point me at those?

[2022-02-11 17:20] manopapad commented on #138
Unfortunately Jupyter notebook support is not yet available. We require some extensions to Legion (the distributed runtime that Legate uses), to support the coordinator/worker model that Jupyter requires (where the coordinator is the local process handling the notebook, that sends work to a remote set of processes that are standing by). Work on this is tracked by https://github.com/StanfordLegion/

[2022-02-12 09:48] lightsighter commented on #138
@pmccormick for visibility. Do you think we could get some of the work that LANL has done on building Jupyter for Legion moving towards open source?

[2022-02-14 16:34] pmccormick commented on #138
@lightsighter -- this is on my todo list for this week as folks are wrapping up other scope and I hope to get this ready to go.  I should have an ETA for you later this week.

[2022-02-28 19:40] magnatelee opened #150 "Per-dimension alignments"
Currently, Legate Core only allows tasks to specify alignments between whole Legate stores, which assumes those stores have the same dimensions. This requires dimensions to be added purely for the purpose of alignments, which often make the stores exceed the supported maximum dimension, limiting the set of admissible stores even to a smaller set. We want to be able to specify alignment constraints

[2022-02-28 19:41] magnatelee commented on #150
Add @manopapad for visibility.

[2022-03-02 22:46] magnatelee opened #154 "Cross-operation partitioning constraints"
Operations like prefix sum or sorting typically involve two sets of tasks in distributed setting, and currently there's no way of constraining their partitions to be consistent. We need to extend the constraint language to be able to express such constraints.

[2022-03-03 00:06] magnatelee commented on #133
Closed by #155.

[2022-03-03 00:06] #133 closed

[2022-03-08 20:21] magnatelee commented on #154
@mfoerste4 @rkarim2 for visibility

[2022-03-08 22:06] lightsighter opened #156 "Start Python Before Legion"
Today, the Legate driver script will always run `legion_python` to execute Legate programs using Legion. Alternatively, we could start the Python interpreter first in each process and then start Legion when the `legate.core` module is loaded. This would allow Legate programs to be run like normal Python programs on a single node, or in the case of multi-node execution, to be run like `mpirun -n N

[2022-03-17 19:38] magnatelee opened #165 "Composition between delinearizing functor and others"
When the solver chooses to use a 1D launch domain and delinearizing functors for store arguments, it assumes that the stores don't have any store transformations, which is what [this assertion](https://github.com/nv-legate/legate.core/blob/branch-22.03/legate/core/store.py#L781) basically entails. In the future, we do need to allow such stores, and to support them, we need to compose the delineari

[2022-04-01 17:56] manopapad opened #177 "SHARD_VOLUME heuristic should consider broadcasted dimensions"
This heuristic decides how big the pieces should be before legate will bother partitioning. However, in the presence of partial broadcasts like the following example:

[code]

the heuristic will not consider the broadcasted dimensions. In this example we end up only considering the first dimension, so an array like `arr.shape == (1000,1000,1000)`, which should definitely be split, fails the heuris

[2022-04-01 20:56] magnatelee opened #178 "Interpreter hitting assertion when shutting down for an uncaught exception"
On Python 3.10 I hit `assert tlock.locked()` when the script ran unsuccessfully due to an uncaught exception. I believe this is caused by the workaround I added to Realm to address the shutdown hang.

[2022-04-04 15:30] pmccormick commented on #138
Hi @YarShev.  There is a [PR](https://gitlab.com/StanfordLegion/legion/-/merge_requests/437) for Jupyter support via Legion that is the first step for this.    @lightsighter will have to provide an update about merging and any other details he would like to see updated/addressed before it lands (I know he has been super busy so I suspect this is somewhat delayed).

[2022-04-04 22:48] magnatelee opened #185 "Update README.md"
With a new NCCL dependency, now is a time to revise our README.md to make it up to date with the dependencies, minimum supported hardware level, etc..

[2022-04-05 09:24] YarShev commented on #138
@pmccormick, thanks for the update! Could you elaborate how this is supposed to work? Will MPI processes be launched in runtime when initializing legate, not when starting Jupyter?

[2022-04-07 09:00] lightsighter commented on #138
I still need to do a review of the merge request for Jupyter notebook support. That merge request is only covering single node Jupyter support for Legion Python, and we'll probably keep that merge request restricted to single-node support just to get something working. Multi-node support will probably be done at a later date.

Ultimately, when we do get around to supporting multi-node Jupyter, we'

[2022-04-07 12:42] YarShev commented on #138
I was wondering whether `ipyparallel` would somehow be used for that purpose. Apparently, all the work will be done under the hood in Legion or Legate itself, right?

[2022-04-11 17:51] bryevdv opened #191 "Bump numpy version"
ref: https://github.com/nv-legate/legate.core/pull/189#discussion_r846573094

Suggested above to bump numpy version to a later version that supports better type annotations.

This issue is to coordinate the version bump, any mypy-related updates that can also occur as a result, and any documentation updates.

[2022-04-11 17:55] bryevdv opened #192 "Protocol/ABC for launcher types"
refs: https://github.com/nv-legate/legate.core/pull/189#discussion_r846573918, https://github.com/nv-legate/legate.core/pull/189#discussion_r846573957, https://github.com/nv-legate/legate.core/pull/189#discussion_r846573970

Clean up this union type:
[code]

[2022-04-11 17:58] bryevdv opened #193 "Clean up incompat overrides for ManualTask"
ref: https://github.com/nv-legate/legate.core/pull/189#discussion_r846574602

Several properties on `ManualTask` override base class property types in an unhappy way, requiring a `# type: ignore [assignment] ` for now.

[2022-04-11 18:01] manopapad commented on #191
I agree, this would also allow us to remove some half-baked fallback code in cunumeric:
https://github.com/nv-legate/cunumeric/blob/branch-22.05/cunumeric/eager.py#L665-L676

From previous discussions we had concluded that numpy 1.20.0 is a reasonable version to require. Would that give us the required type annotations?

[2022-04-11 18:23] bryevdv commented on #191
I think @magnatelee and I discovered over a slack discussion that it is 1.22 So we could certainly bump to 1.20 now and then have another issue for type cleanup when 1.22 is reasonable (or if 1.22 is reasonable right away we can update the types now too).

[2022-04-14 17:06] #192 closed

[2022-04-18 21:51] manopapad opened #201 "Check last CUDART error in task postamble"
As discussed on https://github.com/nv-legate/cunumeric/pull/281.

I suggest checking the value of `cudaPeekAtLastError`/`cudaGetLastError` in the task postamble, if running on a GPU processor, on both debug and release modes.

I assume that, no matter what method we use to encapsulate a task's CUDA effects within the envelope of realm-managed effects (e.g. using the realm CUDART hijack, or doing a

[2022-04-18 22:07] lightsighter commented on #201
It's worth at least noting that you might still catch errors from other contexts in a task that isn't directly responsible for them.  That's not to say you shouldn't do it, but just so everyone is aware of the limitations of that approach.

Another issue that was brought up in a similar merge request at the Realm level is the fact that the hijack might still lie to you:
https://gitlab.com/Stanford

[2022-04-20 18:26] bryevdv opened #205 "Runtime warning when reusing arrays in pytest modules"
When "reusing" a cunumeric array in a pytest module, all test can pass, but a runtime warning is issued at the end:
[code]

The warning only appears when ` -cunumeric:test` is specified.

To reproduce, run the code below with `legate mre.py -cunumeric:test`

[code]

[2022-04-20 20:45] manopapad commented on #205
It looks like `pytest` is "re-executing" the file when we hit `pytest.main`, which creates a new copy of `x`, which seems to get  collected at interpreter shutdown, after `_cleanup_legate_runtime` has completed.

@bryevdv is this "re-execution" behavior expected?

Here is some output (run with pytest `-s` option, so we don't suppress `stdout` output):

[code]

[2022-04-22 00:16] bryevdv commented on #205
Interesting. It might be, specifically with `pytest.main` since the module has to load and execute to just get to that. When just running `pytest` at the command line I expect it would load/execute in one shot. I will have to look into it.

[2022-04-22 16:44] bryevdv commented on #205
@manopapad This was because I did not bother to add a main check for the MRE. This updated version does not exhibit the "run twice" behavior:
[code]
when run with `legate mre.py -cunumeric:test`

[2022-04-23 01:25] manopapad commented on #205
@bryevdv The "run twice" behavior is still there even with the `__main__` check, pytest is just suppressing stdout if you don't use the "-s" option. I am using this script:

[code]

After adding some instrumentation, here is what I see:

[code]

What's happening is that pytest is "re-loading" the current module as `mre` (it was previous loaded as `__main__`). Each copy of the module has a separate

[2022-04-23 09:58] lightsighter commented on #205
@manopapad Can you tell what is keeping the reference to the `mre` module from being collected? In theory `legion_python` should be removing references to all the local and global symbols created during the execution of the script for the top-level task and then removing all those references before the top-level task ends so everything can be collected. Somehow we must be missing a reference somew

[2022-04-24 06:13] lightsighter commented on #138
Sorry for the very slow response on my part.

I'm not very familiar with ipyparallel, but I doubt it's going to be able to handle the distributed execution requirements that we're going to need for running on supercomputers or in the cloud. Not only would it need to be able to handle broadcasting of commands and data, it would need to do this efficiently to handle cases where we have potentially t

[2022-04-25 17:37] bryevdv commented on #205
@manopapad Yes there were actually two separate "run twice" conditions above. One is that the actual tests were run (and reported) twice (see the two sets of reports in your output) and the other is that the module has to be executed once to get to `pytest.main`, which then does a fresh test collection (resulting in the module being executed again). Adding a `__main__` check affects the first of t

[2022-04-25 17:57] bryevdv commented on #205
@manopapad As expected adding using the following `lgpt.py`
[code]
makes the problem go away:
[code]

Summarizing:

* the "run twice" behavior is expected, because the test module is being used both as a "main" and then subsequently as a "regular" module. This is due to pytest's unique role as a test running, i.e. it's uncommon to happen in most python code. But I guess I might also regard this as

[2022-04-25 21:22] manopapad commented on #205
For me, even going through `lgpt.py` I still see the shutdown exception. I can even trigger this issue without `pytest`:

a.py:
[code]

b.py:
[code]

<details>
  <summary>Output (click to expand)</summary>

[code]
</details>

The root cause seems to be that `legion_python` deletes the `__main__` module, that represents the file we're actually running, but doesn't delete any modules that were impor

[2022-04-25 22:08] bryevdv commented on #205
Indeed, I had a single character typo in my invocation :angry: I'll have to make an issue about warning or erroring when unrecognized `-cunumeric` options are encountered, rather than just silently ignoring them.

[2022-04-25 22:29] lightsighter commented on #205
The whole point of legion_top.py is to try to avoid "clients" having any visibility into the fact that they are running inside of a Legion task. I feel like you should be able to make a pretty minimal reproducer here that showcases the issue. What we need to figure out is how any modules are remaining uncollected past the execution of the top-level task. We go to great lengths to try to ensure tha

[2022-04-25 23:25] manopapad commented on #205
@lightsighter See `a.py` and `b.py` from my previous comment. `legate a.py -cunumeric:test` is sufficient to reproduce this issue. `a.py` becomes the `__main__` module, that module imports module `b`, and during the import of `b` a cunumeric array `x` is created and attached to a NumPy array. After the program completes, `legion_python` deletes the `__main__` module right before exiting `run_path`

[2022-04-26 03:56] lightsighter commented on #205
@elliottslaughter Can you think of a reason that we shouldn't capture the state of `sys.modules` before running the script and then aggressively prune out any unrecognized modules in `sys.modules` at the end of the top-level task?

[2022-04-26 04:10] manopapad commented on #205
See the second output from this comment https://github.com/nv-legate/legate.core/issues/205#issuecomment-1109053336 for my experience when I tried this. It's too late to clean up loaded modules after the legate cleanup items have run, so we need to do it right before. However, the cleanup items in legate seem to require some of these freshly deleted modules, so those end up being re-loaded, which

[2022-04-26 09:48] lightsighter commented on #205
Hmm that is unfortunate. What order are we doing the deletion of things in the Legate cleanup routine? Are we doing FILO?

[2022-04-26 18:10] elliottslaughter commented on #205
I'm not familiar with Legate's details, obviously, but if we implemented proper FILO here it feels like that ought to fix it (and would be fine for other Legion Python users).

[2022-04-26 18:11] elliottslaughter commented on #205
One question I'd ask is how does our shutdown procedure differ from CPython? Regular CPython also has exit handlers, and those need to run in some order with respect to module cleanup. So if there are ordering hazards there, I'd expect Python users outside of Legion to have hit variations on this issue before.

[2022-04-28 04:55] magnatelee commented on #191
#206 addresses this issue.

[2022-04-28 04:55] #191 closed

[2022-04-29 17:14] piyueh opened #215 "Conda package is compiled with `-march=native`"
I'm not sure if my understanding is correct, but it seems all code by default is compiled with `-march=native`. See:
https://github.com/nv-legate/legate.core/blob/cd4ca09800058176a0da805b06b27d75c9284033/install.py#L902-L908

If so, this is fine for building packages for local use. However, in the newly merged conda package recipe, it seems the code is still compiled with `-march=native`. See
http

[2022-04-29 18:15] manopapad commented on #205
I implemented LIFO module cleanup, and it seems to work for this example. Here is the PR https://gitlab.com/StanfordLegion/legion/-/merge_requests/475. Please take a look.

[2022-04-29 21:59] #193 closed

[2022-05-04 04:15] manopapad commented on #205
Should be fixed with https://github.com/nv-legate/legate.core/pull/217. @bryevdv could you please update your legate.core and legion and confirm that original issue is gone?

[2022-05-06 11:07] frmrz opened #219 "Undefined symbol in liblgcore.so"
Hi, everyone!
I'm trying to use cunumeric through legate core but I'm running into an "undefined symbol" error. I leave the trace below.

OSError: cannot load library '/home/francesco/anaconda3/envs/legate-v1/lib/libcunumeric.so': /home/francesco/anaconda3/envs/legate-v1/lib/./liblgcore.so: undefined symbol: _ZN6Legion7Runtime29perform_registration_callbackEPFvN5Realm7MachineEPS0_RKSt3setINS1_9Pro

[2022-05-06 16:59] manopapad commented on #219
What command are you running, that is producing this error? Can you paste the whole output?

[2022-05-09 18:31] #215 closed

[2022-05-10 00:25] marcinz opened #228 "Conda build fails with c++17 related fix"
When using conda-build:

[code]

This is fixed with [forcing c++17](https://github.com/nv-legate/legate.core/commit/73c76c6c7ec7e6afca6dac09ed4005f3120b5080#diff-ab8cbbde99feb80edf23d10de94559f553a11ab10e8a37a6b06909aa1238d9f3R2).

According to [this thread](https://bytemeta.vip/repo/colmap/colmap/issues/1418) this is probably related to the combination of CUDA and GCC. It's not clear whether this

[2022-05-10 00:33] magnatelee commented on #228
@marcinz I'm confused by this issue. isn't the issue fixed by forcing c++17, which btw is a valid thing to do since our recent decision to start requiring C++17? Is this to simply keep a note for ourselves about the existence of this issue or are we actually trying to fix it without forcing c++17?

[2022-05-10 01:07] marcinz commented on #228
@magnatelee You are correct. I think that there was some delay in the process where the c++17 change did not make it into conda build testing. @m3vaz as well. This seems to be a non-issue anymore for me. Could you confirm? I will propose removing the workaround in a PR.

[2022-05-10 02:13] manopapad commented on #228
With https://github.com/nv-legate/legate.core/pull/227 we are now always using C++17 (even when building Legion). The workaround on the conda recipe will be removed by https://github.com/nv-legate/legate.core/pull/229.

[2022-05-10 20:05] magnatelee commented on #228
Would have been easier for me or anyone with no context to understand if #229 stated what the intention was.

[2022-05-30 09:00] lightsighter commented on #138
That's an interesting question! We weren't aware of it and hadn't considered it before. We'll definitely investigate that as a possibility. Do you happen to know if it works for general Jupyter notebooks outside the context of JupyterHub? I think we'll definitely want our solutions to work for stand-alone deployments as well.

[2022-05-31 15:54] LouisJenkinsCS commented on #138
I'm not sure of the answer to those questions, unfortunately, as I've only found out about it recently myself. I hope it works out and is a fruitful direction to head in!

[2022-06-03 01:20] manopapad commented on #228
This is fixed

[2022-06-03 01:20] #228 closed

[2022-06-03 01:31] manopapad opened #255 "Update python installation method"
Legion and legate are using `easy_install` to install the python packages to an arbitrary location. This mode is deprecated and will soon be removed. We should switch to following standard conventions (e.g. pip-based), which install directly into the currently active virtual environment (e.g. the one managed by conda).

Here are some relevant messages we get during installation:

[code]

One thing

[2022-06-03 17:30] bryevdv commented on #255
Yeah, that seems to work fine, here is a quick and dirty POC diff

<details>

[code]
</details>

As an added bonus, since we could never be calling `setup.py` as a *script* all that goofy "recurse" logic can just be deleted.

[2022-06-03 17:36] bryevdv commented on #255
I guess another incremental step might be to continue installing all the other libraries under the install dir in the repo, but let the pure python package part install in the "standard" python env.

[2022-06-03 18:24] trxcllnt commented on #255
#198 [passes](https://github.com/nv-legate/legate.core/pull/198/files#diff-195cd99b7969ab7f7108c4db89d38f4151a911d6c8cc53a61d49bd5615cf6461R57) `--single-version-externally-managed --root=/` to Legion's Python bindings' install command ([enabled in Legion/502](https://gitlab.com/StanfordLegion/legion/-/merge_requests/502/diffs#34367af4645894f0ff7f3fa2a6f873dc6bdabdf0_41_46)), which eliminates the

[2022-06-03 18:31] bryevdv commented on #255
@trxcllnt that still appears to be calling `setup.py install` and that is what is deprecated I would say it would be good to change that at some point as well (e.g. by calling `python -m pip install .` instead)

[2022-06-03 23:23] manopapad commented on #255
Here is a list of dependencies that we normally don't get from conda:

- OpenBLAS: We can safely reuse the conda package today. If https://github.com/conda-forge/openblas-feedstock/pull/138 gets merged there will be no reason to do a custom build anymore.
- TBLIS: This library is in the process of transitioning over to be built over BLIS, which is available on conda-forge https://anaconda.org/cond

[2022-06-06 09:34] jjwilke opened #260 "-march=native automatically added, but not supported on all versions of Clang"
Builds with Clang (apple or default LLVM) fail since they do not support march=native. I am not sure if this is mac-specific or more widely affects all new versions of Clang. The build system needs to be modified to avoid adding this flag when it is not supported.

[2022-06-06 09:35] jjwilke commented on #260
This logic is much easier to support in CMake. Cross-reference PR #198.

[2022-06-14 17:42] bryevdv commented on #255
OK, back from being out last week. I would propose this as a *very* rough work plan:

* Wait for @trxcllnt's various cmake-related PRs to be merged.
* Update `setup.py` to use env vars instead of command line args
  * update `install.py` and `cmake` install to use `pip install .` with env var
  * socialize not to invoke `setup.py`  &mdash; use `install.py` or `cmake`
* change to install the "pytho

[2022-06-14 20:55] lightsighter opened #271 "Make Tests for Installed Dependences More Robust"
Currently we only test for some dependences like Thrust by checking to see if the directory for that dependence exists in the target installation directory. This is not particularly robust. Users might hit ctrl-c in the middle of a build, and the directory will exist, but it will be empty. It might be good to harden these tests to see if at least some of the files for things like Thrust are actual

[2022-06-15 17:56] magnatelee opened #272 "Update the build to request MPI_HOME explicitly"
#140 introduced a new compile dependency to MPI, but we haven't updated the install script and makefile accordingly to explicitly ask for `MPI_HOME`. It's not safe to assume that we see `mpicc` in `PATH` and use its path to locate MPI. Even if that does find `mpicc`, that might be the right one to use. I think we should always explicitly ask any dependency we use in the build. I hope the new cmake

[2022-06-15 18:12] eddy16112 commented on #272
When enabling the GASNet, Legion also uses `which mpicc` to detect the MPI, which is also a potential issue. However, I do not think we need to make MPI as another dependency and install it explicitly, because it really takes a lot of time to compile the MPI. So any suggestions how to fix it?

[2022-06-15 18:16] manopapad commented on #272
The standard practice when compiling MPI programs is to use the MPI wrapper compiler (`mpicc`), which takes care of setting the appropriate flags, instead of adding `-I` and `-L` flags manually. We should follow what Legion does here https://github.com/StanfordLegion/legion/blob/master/runtime/runtime.mk#L728-L765.

[2022-06-15 18:22] eddy16112 commented on #272
Thanks, let me give a try on it.

[2022-06-15 18:31] magnatelee commented on #272
@manopapad thanks for the suggestion. I agree that that's a better way to handle it. (I'm surprised that we weren't using mpicc for building those files that are including MPI, which is another thing that should have caught by my review...) @eddy16112 I think we should update `legate.mk` to compile the communicator files using mpicc. feel free to add a new make variable for which the makefile uses

[2022-06-15 19:32] eddy16112 commented on #272
I created a fix https://github.com/nv-legate/legate.core/pull/274
Currently, I use mpicxx to compile all the .cc files. Do we need to use mpicxx only for communicator files?

[2022-06-15 22:44] magnatelee commented on #272
@eddy16112 I think that's fine for now.

[2022-06-20 14:10] #272 closed

[2022-06-22 21:23] rohany opened #286 "installation confusion with `setup.py` script"
The readme says to invoke `setup.py` with `--install-dir`. However, passing `--help` to `setup.py` only shows the argument `--prefix`. While trying to install cunumeric, I assumed that the readme had just bitrotted. However, this is incorrect, and installation with `--prefix` does something different.

[2022-07-08 21:59] bryevdv opened #294 "Driver seems broken for GASNet + UDP Conduit"
If you build legate configured with GASNet + UPD conduit, then `legate` fails to start:

[code]

It seems that when built with this configuration, the `legion_python` executable expects to be invoked with the number of nodes as the first positional argument:
[code]
But the `legate.py` driver does not do this, and results in the error above.

It seems that one way to fix this would be to have `lega

[2022-07-11 08:51] lightsighter commented on #294
This actually isn't Legion Python's fault. This is an artifact of how the GASNet UDP conduit bootstraps itself by rewriting `argv` (there's a reason that both MPI and GASNet take a `char ***argv` argument to their initialization methods).  GASNet has a specialized launcher for its UDP conduit and if you don't use their launcher then it's initialization can get messed up (e.g. launchers like 'mpiru

[2022-07-11 17:39] lightsighter commented on #294
I suspect that the answer here is going to be that we need to use a special launcher for the UDP conduit which is really finicky because it can't bootstrap itself with PMIx the way that most high-performance networking systems do. I'll quote from the GASNet UDP conduit documentation:

[code]

https://gasnet.lbl.gov/dist/udp-conduit/README

[2022-07-11 17:47] bryevdv commented on #294
Does it need to be supported at all? I only made the issue because I happened to run into it trying to do local dev, but if it is not actually useful in reality then perhaps just remove support for it from `legate.py` (with some thorough error messaging to provide guidance in case anyone tries).

[2022-07-11 21:30] manopapad commented on #294
I think we can just remove `udp` as a choice for `--conduit` in `install.py` for now, and leave this issue in the backlog to properly support `udp` if someone really wants it.

[2022-07-11 22:37] lightsighter commented on #294
I suspect that we will ultimately need it, although maybe not immediately. The UDP conduit is what you would use on a machine that only has basic ethernet between the nodes, e.g. like in a traditional cloud environment. While this is not really high performance, it is something that people might ultimately want to run on. If they have a higher performance network though then they should be using i

[2022-07-18 22:55] manopapad commented on #219
Hi @frmrz, were you able to solve your issue?

[2022-07-18 22:59] manopapad commented on #286
The plan outlined on #255 involves moving away from `setup.py` altogether (instead only using `install.py`), which will take care of this issue.

[2022-07-19 00:42] manopapad commented on #294
Temporarily removed UDP conduit support in the install script https://github.com/nv-legate/legate.core/pull/305.

[2022-07-19 07:22] frmrz commented on #219
Hi @manopapad, sorry I did not reply to your first message. For this particular error, I was able to solve it by updating drivers and CUDA version on my machine. Now I'm running 515.43 and CUDA 11.7.
Anyway, I got stuck again on another error and decided to take another route for this project writing directly the cuda capable code I needed.

[2022-07-19 16:08] manopapad commented on #219
Thanks for the update. I'm sorry legate was not helpful to you. If you have the time and inclination to open another issue describing your new problem, we would appreciate that. In any case, good luck with your project.

[2022-07-19 16:08] #219 closed

[2022-08-01 23:59] manopapad opened #314 "Can't launch tasks on 0-dim non-future-backed stores"
The following code:

[code]

will try to launch a task with a 0-dim future-backed store as input and a 0-dim regionfield-backed store as output. It fails with:

[code]

Adding an initializer (1) to this reduce expression, causes an assertion failure inside legion:

[code]

which seems to be because `Runtime::create_index_space` doesn't handle `dim = 0`.

Switching the task launch to be only over f

[2022-08-02 17:46] #314 closed

[2022-08-03 19:07] manopapad opened #317 "Cannot inline-map 0d RegionField-backed Stores"
This program:

[code]

fails with:

[code]

[2022-08-04 11:07] zubair257 opened #318 "ValueError: Point cannot exceed 4 dimensions set from LEGATE_MAX_DIM"
ValueError: Point cannot exceed 4 dimensions set from LEGATE_MAX_DIM
legion_python: /home/zubair/legate.core/legion/runtime/realm/python/python_module.cc:992: virtual void Realm::LocalPythonProcessor::execute_task(Realm::Processor::TaskFuncID, const Realm::ByteArrayRef&): Assertion `0' failed.

[2022-08-04 18:56] manopapad commented on #318
Thanks for the report! It looks like Legate got tripped up because your program, or the intermediate stage of some operation invoked by your program, tried to create an array of 5 or more dimensions, but Legate was compiled with the default `--max-dim 4`. Do you know if you're creating 5d+ arrays in your program? It would help to see some more details on the operation that is failing (it looks lik

[2022-08-12 00:55] manopapad opened #329 "In-bounds but empty slices not supported"
The following program, run in deferred mode:

[code]

crashes inside the core with:

[code]

[2022-08-16 22:11] rohany opened #335 "OMP mapping heuristics lead to extra copies"
I ran the same program on a single OMP (http://sapling.stanford.edu/~rohany/word-movers-omp-forced-parts/?start=0&end=14638962.7&collapseAll=false&resolution=10) and a GPU (http://sapling.stanford.edu/~rohany/word-movers-1-gpu-forced-parts/?start=0&end=5514257.6&collapseAll=false&resolution=10) and saw that the OMP version generated a significantly higher number of SYSMEM<->SYSMEM copies. @magnate

[2022-08-22 18:38] ipdemes commented on #329
I am trying to ix this issue on CuNumeric side

[2022-08-23 21:35] magnatelee commented on #317
@manopapad can you pull the latest code and see if this issue has been fixed?

[2022-08-23 22:55] manopapad commented on #317
It is fixed!

[2022-08-23 22:55] #317 closed

[2022-08-30 20:13] manopapad commented on #318
Can you share a small python program that reproduces this error?

[2022-09-06 05:23] zubair257 commented on #318
i have explored other parts of my application and it does creating a 14 dimension array of  shape (4,4,4,4,4,4,4,4,4,4,4,4,4,4). but --max-dim option is accepting value only up-till 9. is there any other option to work with legate on 14 dimension array.

[2022-09-06 06:27] manopapad commented on #318
Unfortunately currently you cannot get accelerated execution with legate/cuNumeric when using arrays with more than 9 dimensions. You could potentially adjust your code to reduce the dimensionality of your arrays, but that might have performance implications. We would need more information about your application to know how feasible this is.

[2022-09-08 19:20] #329 closed

[2022-09-09 18:18] ipdemes commented on #329
fixed in https://github.com/nv-legate/cunumeric/pull/574

[2022-09-21 20:21] manopapad opened #372 "Rebuild not triggered when debug/release option changes"
It doesn’t look a rebuild is triggered when I change from debug to release build:

[code]

It looks like the new build configuration setting is not making it to cmake:

[code]

I tried removing the `add_touch_legate_core_ninja_build_target` optimization from `CMakeLists.txt`, but that didn't help.

I tried adding `--force-reinstall` and that didn't change the behavior.

[2022-09-21 20:27] manopapad opened #373 "Cannot build with GASNet on Mac"
We need this PR to be merged on the Legion side https://gitlab.com/StanfordLegion/legion/-/merge_requests/552

[2022-09-21 21:19] lightsighter commented on #373
I pinged the appropriate people on the Legion side to review it.

[2022-09-21 21:35] manopapad opened #374 "Check if ninja is available, fall back to gmake if not"

[2022-09-21 21:36] jjwilke commented on #374
I'm just going to `shutil.which("ninja")` and set the default to `None` if ninja is not available.

[2022-09-21 22:05] manopapad opened #375 "Clean up stubs finding in cmake"
It looks like Legion needs to be told where the `libcuda.so` stubs are, so this code searches various locations for them:

https://github.com/nv-legate/legate.core/blob/branch-22.10/cmake/thirdparty/get_legion.cmake#L86-L117

If the search fails, users will see an error like the following:

[code]

and the suggested solution is to run with `CUDA_PATH=/usr/local/cuda/lib64/stubs`, i.e. we are treat

[2022-09-21 22:40] manopapad opened #377 "Building GASnet with Infiniband support using conda compilers"
Infiniband libraries are not distributed on conda, so if we're trying to build GASNet with Infiniband support using the conda compilers, we need to point the GASNet build to those directories that contain the Infiniband libs. This is true even in the common case where the Infiniband libraries are found in common system directories (`/usr/lib` and friends), because the conda compilers and linkers s

[2022-09-21 23:16] jjwilke commented on #375
I am in the process of submitting a PR to legion to just fundamentally fix how Legion does CUDA builds (enable CUDA as a language) that will make this problem go away.

[2022-09-21 23:17] jjwilke opened #378 "Re-enable --with-cuda to point to CUDA toolkit dir"
There are some systems where `nvcc` is not in the default path or you have multiple toolkits and want to specify which one. We should map the `--with-cuda` option for `install.py` to the appropriate CMake option.

[2022-09-22 03:24] jjwilke commented on #375
Cross reference https://gitlab.com/StanfordLegion/legion/-/merge_requests/563

[2022-09-22 03:29] jjwilke commented on #260
Fixed in old system. No longer relevant with CMake.

[2022-09-22 03:29] #260 closed

[2022-09-22 03:30] jjwilke commented on #255
@manopapad This can probably be closed now with the CMake changes?

[2022-09-22 05:54] manopapad commented on #255
I think so. There are still some deprecation warnings printed out, but these might be benign? What do you think @bryevdv ?
[code]

[2022-09-22 22:21] bryevdv commented on #255
AFAIK our `install.py` just calls `pip install` now, so offhand I'd guess those might be coming from something inside `scikit-build`. If so, we'd just to wait for them to update things on their end to see those warnings go again. I think this can be closed now.

[2022-09-22 22:22] manopapad commented on #255
Sounds good, closing

[2022-09-22 22:22] #255 closed

[2022-09-23 23:18] rohany opened #385 "install.py doesn't respect --install-dir if it doesn't exist already"
The validate_path function returns None when the directory doesn't exist, resulting in it getting overridden to some other value.

[2022-09-23 23:30] rohany opened #386 "`install.py` does not install files into `install_dir`"
After making the install directory to work around #385, `install.py --editable --verbose --install-dir <dir>` does not put many files into <dir>:
[code]
Instead, it seems to be always putting files into `./_skbuild`.

[2022-09-24 17:56] rohany commented on #386
It seems like `--editable` is the problem. It appears to work without `--editable`.

[2022-09-26 13:34] jjwilke commented on #386
This is working as expected with `--editable`. Instead of installing the files, it leaves an "egg-link" in the install folder that points back to the build folder. Any edits you make in the source/build folder will be automatically reflected in the installation.

[2022-09-26 16:05] rohany commented on #386
Hold on a second -- the problem here is that if I use editable, I cannot then use `./install.py --with-core <install-dir>` with cuNumeric as there's nothing in the installation directory for cunumeric to read! That's the reason why I opened this issue in the first place.

[2022-09-27 22:21] magnatelee opened #390 "Legate library template"
Due to several major changes to Legate core, [the Legate hello example](https://github.com/nv-legate/legate.hello) can't serve the role of being a Legate library template any longer. Plus, the new cmake build has introduced complexities to the build that a template alone cannot help developers figure out many different places they need to modify to start a new Legate library. Therefore, I'd like t

[2022-09-27 23:32] rohany commented on #390
Having something like this would be really helpful (the new CMake build has only made things worse in this regard). Something that has come up in my work is the necessity to easily add a legate library to an existing python project that utilizes legate/cuNumeric. As soon as a particular kind of parallel operation doesn't map well to numpy primitives, a user should be able to develop a parallel imp

[2022-09-28 18:59] rohany opened #393 "bin/legate doesn't find legion_top in non-editable installation"
I installed `legate.core` using `./install.py --install-dir ../install --verbose --no-build-isolation`, and when running `bin/legate` I see the error:

[code]

[2022-09-28 19:45] bryevdv commented on #393
@rohany can you provide with `--verbose` output for both the old and the new? That should give the actual complete invocation (and env, for the new version) that can be compared

[2022-09-28 19:46] rohany commented on #393
verbose output from the legate driver or from the install?

[2022-09-28 19:46] bryevdv commented on #393
the driver, e.g.
[code]

[2022-09-28 19:50] rohany commented on #393
Before:
[code]

After:
[code]

[2022-09-28 19:53] bryevdv commented on #393
OK well presumably this is the proximate problem:
[code]
I lightly updated the path discovery code so maybe something  got broken, unlike the rest of the new driver, these two functions are very difficult to unit test. I will try to reproduce this afternoon.

[2022-09-28 20:50] bryevdv commented on #393
@rohany I am still trying to repro this locally. in the same way. In the mean time, there is one function responsible for computing all those paths, it is here:

https://github.com/nv-legate/legate.core/blob/branch-22.10/legate/driver/util.py#L285-L413

Perhaps you can do some investigation / printf-debugging on your end?

[2022-09-28 21:20] bryevdv commented on #393
OK I have been able to reproduce this

[2022-09-28 21:32] bryevdv commented on #393
@rohany can you try with this patch
[code]

[2022-09-28 21:53] rohany commented on #393
patch works for me

[2022-09-28 21:54] bryevdv commented on #393
@rohany can you submit a quick PR? I had to edit the installed file for the patch and I am already on a branch that is moving some related files

[2022-09-28 22:43] #393 closed

[2022-09-29 21:02] rohany opened #398 "base mapper does not smartly inline map regions"
The base mapper https://github.com/nv-legate/legate.core/blob/branch-22.10/src/core/mapping/base_mapper.cc#L1268 always inline maps regions in system memory, even if the system memory is very small compared to NUMA memories on the node. I'm working around this right now by changing this logic to inline map into socket memories if they exist.

[2022-09-29 23:15] rohany opened #399 "use provenance information to improve mapping error messages"
this should help understand the source of OOMs

[2022-09-29 23:16] rohany opened #400 "support cross-product partitioning / index launches in the high-level legate API"
For example: "have a 2-D index launch where I select the i color of partition 1 and j color of partition 2 for (i,j) \in launch domain?"

[2022-09-29 23:20] manopapad opened #401 "Driver --verbose mode: only print on rank 0 if launcher is "none""
Similar to how it was done previously:

[code]

When launching through srun/pyxis, there is not one copy of the driver program that's launching mpirun, instead there's multiple copies of the driver and they each just execute `legion_python`, then those copies of `legion_python` connect to each other. So if the driver always prints out its verbose message indiscriminately, we get the output printed

[2022-09-29 23:43] rohany commented on #398
The same problem arises with the `map_copy` overload.

[2022-09-30 19:20] #401 closed

[2022-10-02 18:34] rohany opened #407 "ignored exceptions during region manager destruction"
I see errors like this during execution of a program (i can provide a reproducer offline).

[code]

[2022-10-04 17:06] manopapad opened #410 "install.py --editable doesn't install legion_python under $CONDA_PREFIX"
I do see it under these locations:

[code]

but not anywhere under `$CONDA_PREFIX`

[2022-10-04 17:37] jjwilke commented on #410
Is `legate` not working for you? This should still successfully find `legion_python` in the build folder and run.

[2022-10-04 17:42] manopapad commented on #410
`legate` is working. This just came up as we were debugging another person's build issues, and it sounded possibly like a bug that `legion_python` was not getting installed, so I opened this issue. I've confirmed that indeed this is expected behavior for editable installs.

[2022-10-04 17:42] #410 closed

[2022-10-05 19:41] rohany commented on #398
Same with `map_partition`.

[2022-10-05 22:29] rohany opened #415 "cunumeric/legate eats the `-l` command line flag"
The following program:
[code]

run as `legate repro.py -l 5` will print `None`. However, if the `import cunumeric` is removed, then it will print 5. I don't see anywhere in the legate help messages etc why this might happen.

Pinging @bryevdv since you probably know what's up here.

[2022-10-06 17:03] bryevdv commented on #415
Note I have transferred this issue to `legate.core`

[2022-10-06 20:48] manopapad commented on #415
Noting for posterity, the root cause of this issue is that cpython 3.8 changed how argparse handles the interaction of single-dash options and `allow_abbrev`, see https://github.com/python/cpython/issues/85706.

[2022-10-07 01:28] #415 closed

[2022-10-07 17:47] manopapad opened #422 "User-controlled target processor kind"
@rohany brought up a scenario where the user would want to constrain one phase of the application to run on CPUs, and then switch to GPUs.

My first hunch would be to allow the user to annotate parts of the code with a processor target, e.g. using a python context:

[code]

But maybe Rohan can explain his usecase a bit more, and we can see if there's a better way to support it.

[2022-10-07 17:54] rohany commented on #422
As manolis sketched, I have an application which has a data generation phase that is very memory hungry (especially for deferred allocations) and then a phase that has pretty stable memory usage (a solve). I would like to perform the data generation (and allocate more deferred memory) on the CPUs which have more memory, and then flip a switch to have the solve run on the GPUs. This seems like some

[2022-10-07 17:54] magnatelee commented on #407
@rohany can you pull #418 and see if that fixes this issue?

[2022-10-07 18:26] rohany commented on #407
Yes, that fix works for me.

[2022-10-07 18:26] #407 closed

[2022-10-12 01:20] #399 closed

[2022-10-12 21:46] manopapad commented on #385
Looks like a duplicate of https://github.com/nv-legate/cunumeric/issues/600

[2022-10-12 21:46] #385 closed

[2022-10-12 21:47] manopapad commented on #373
The Legion PR has been merged

[2022-10-12 21:47] #373 closed

[2022-10-12 21:50] manopapad commented on #286
We no longer suggest that users invoke `setup.py` directly.

[2022-10-12 21:50] #286 closed

[2022-10-12 23:54] manopapad commented on #374
Fixed by #379

[2022-10-12 23:54] #374 closed

[2022-10-12 23:55] manopapad commented on #386
Is this still an issue, now that `--install-dir` option has been removed?

[2022-10-12 23:56] rohany commented on #386
sounds like it's not.

[2022-10-12 23:56] #386 closed

[2022-10-13 18:18] rohany opened #435 "`mypy` error on Mac"
I see this error running `mypy` on my mac:
[code]

I think that `mypy` can tell that the platform is `darwin` so it thinks that the branch is always true.

[2022-10-13 18:35] rohany commented on #435
yup, that works.

[2022-10-13 19:14] bryevdv commented on #435
:tada: in the PR, please leave a short comment above the else noting that it is required for `mypy`

[2022-10-14 05:35] zubair257 commented on #318
is there any plan to upgrade the MAX_DIM limit by more than 9? is there any particular reason the dimension support is limited to 9???

[2022-10-14 16:24] manopapad commented on #318
Legate uses regions (the distributed table data structure from https://github.com/StanfordLegion/legion) to back cuNumeric arrays. Currently, an n-dimensional array is backed by an n-dimensional region.

Legion has a baked-in limit of 9 dimensions. I assume a big reason for this is that Legion needs to statically instantiate certain operations for all pairs of possible dimensions, which grows quad

[2022-10-14 18:03] rohany opened #440 "legate driver should not allocate 4 CPUs when OMPs are used"
The legate driver will often try to allocate 4 CPUs by default, even when the user wants to use openmp threads. This can lead to silent performance degradation when these 4 CPU threads are not used because the user is favoring the openmps. By default, it seems like if `--omps` is provided, `--cpus` should default to 1.

[2022-10-14 18:40] #435 closed

[2022-10-17 15:16] jjwilke opened #441 "installed_legion_paths picks up the wrong python"
The following code only picks up the first matching `site-packages`, not the `site-packages` where legate was actually installed.

[code]

If someone has multiple pythons in their environment, they will get a cryptic error about missing legion/realm libraries

[2022-10-17 15:17] jjwilke commented on #441
Even though only a single python can be active at a time in an environment, someone may have upgraded or switched between python versions within an environment. Even though there is a single python binary, there can be "dormant" site packages.

[2022-10-17 16:35] bryevdv commented on #441
I was looking at this the other day. Can we not just use `site` for this?
[code]
I recall there was some issue with stdlib `site.py` not being fully function in `legion_python` but I think it related to some other aspect of initialization.

[2022-10-17 16:36] manopapad commented on #441
AFAICT conda removes the symlinks to the old python version when you update your python installation:

[code]

So I don't think the failure mode you describe can happen exactly.

[2022-10-17 16:37] manopapad commented on #441
Well, actually what will probably happen is that realm will fail to start, because it hardcodes the path to the python library it's compiled against:

https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/python/python_module.cc#L131
https://github.com/StanfordLegion/legion/blob/stable/runtime/realm/python/python_module.cc#L171

[2022-10-17 17:02] bryevdv commented on #441
Actually, now that I think about it, using `site` should be completely fine, right? The driver is *not* run by `legion_python`, the driver is a plain python script. I'd propose trying this:
[code]

[2022-10-17 18:07] #178 closed

[2022-10-20 20:10] magnatelee commented on #422
for everyone's benefit, here's a snippet that shows a tentative API design:
<img width="1354" alt="all devices = get machine()" src="https://user-images.githubusercontent.com/331175/197047561-926ba9f7-ef0e-47df-8fd4-3222a2912b7e.png">

though the API looks simple, the resource scoping has major consequences on how the core internally manages cached states (as #439 already explored some of it). To

[2022-10-26 04:17] trxcllnt commented on #372
@manopapad are you still seeing this? I'm seeing it rebuild (and reinstall over previous build) just fine:

* [build.debug.log](https://gist.github.com/trxcllnt/5411c00765569a0cbe21841caa2610c3)
* [build.release.log](https://gist.github.com/trxcllnt/d22bd89a17a6f89702d992e12f1339c3)

[2022-10-26 17:26] manopapad commented on #372
I still get this behavior under branch-22.12, but #455 fixes it.

[2022-11-03 00:40] manopapad opened #463 "Cmake not copying updated legion.h to install location"
Note that the source `legion.h` contains updates, and is more recent than the installed version:

[code]

When I try to build legate.core with changes that use the new API:

[code]

I get an error, because the updated `legion.h` is not getting copied over to the install location, so `return.cc` is compiled against the old `legion.h`:

<details>
<summary>Compile output</summary>

[code]

</details>

[2022-11-03 16:21] trxcllnt commented on #463
I believe this should be fixed by https://github.com/nv-legate/legate.core/pull/455

[2022-11-04 05:13] zubair257 commented on #318
still waiting for @lightsighter to put some light on the issue.

[2022-11-04 20:18] #372 closed

[2022-11-10 11:06] LUOXIAO92 opened #476 "Buliding by install.py fails with subprocess-exited-with-error"
It seems the main error is subprocess-exited-with-error.  I also found the same issue.
https://github.com/nv-legate/legate.core/issues/107#issue-1054642948
But in my case, I'm using python 3.9, so it should not be the problem about version of python. I also tried python 3.10, and the same error occurs.

<details>
<summary>full log of output</summary>

[code]

</details>

[2022-11-10 17:24] manopapad commented on #476
@LUOXIAO92 can you try building with `--verbose`, so we get a little more output?

As far as I can tell, it looks like pip was not able to connect to its repository to download build dependencies. Do I have it right @bryevdv ?

[2022-11-10 17:30] bryevdv commented on #476
It looks plausible but agree `--verbose` output is needed (as well as the exact invocation used)

[2022-11-11 06:25] LUOXIAO92 commented on #476
Do you mean it is necessary to connect to internet while building legate.core? I'm building this on our schools' HPC, and we have to use the debug node to load cuda module, because the login node do not have any gpu, and the debug node can not connect to internet.
<details>
<summary>--verbose:</summary>

[code]

</details>

[2022-11-11 06:34] bryevdv commented on #476
@LUOXIAO92 By default the build uses pip/setuptools build-isolation, which is the common modern way to build Python packages. You can try passing `--no-build-isolation` to `install.py` but you will then still have to have all the necessary build dependencies installed on the machine one way or another:
[code]

[2022-11-11 07:25] LUOXIAO92 commented on #476
Thanks, I installed the all dependencies
[code]
and ran
[code]
but still failed with errors.
<details>
<summary>--verbose</summary>

[code]

</details>
I noticed "is required to install pyproject.toml-based projects", so I install pyproject-toml by using pypi

[code]

but still failed with "pip._internal.exceptions.InstallationError: Could not build wheels for legate.core, which is required to ins

[2022-11-11 07:54] bryevdv commented on #476
@LUOXIAO92 You don't have to install RAPIDS, but the CLLR build makes use of some of the cmake build tools that were developed for RAPIDS. @trxcllnt will have to chime in about how or if those can be installed separately up front.

[2022-11-11 18:09] manopapad commented on #476
I meant that the UCX you provide must be built with `--enable-mt`. I added a clarification on the documentation.

[2022-11-12 10:29] LUOXIAO92 commented on #476
Thanks. It will be great help if legate.core can be builded without internet.

[2022-11-12 10:31] LUOXIAO92 commented on #476
Thank you

[2022-11-22 07:38] rohany opened #491 "install.py should pick up changes to legion without forcing --clean"
Right now, making a change to legion and using `install.py` requires using `--clean` to rebuild, rather than it picking up the change. It would be great if single-file changes to legion did not require a full rebuild.

[2022-11-22 18:27] manopapad commented on #491
I thought we were doing this correctly at this point, after https://github.com/nv-legate/legate.core/pull/455 and https://github.com/nv-legate/legate.core/pull/442 were merged. And this has been working for me AFAICT. Can you post some output where a change in legion fails to trigger recompilation?

[2022-11-22 18:30] rohany commented on #491
What command do you do? I do `./install.py --verbose --editable --legion-src-dir legion --arch pascal --conduit ibv --network gasnet1 --debug-release` to rebuild the core.

[2022-11-22 18:32] rohany commented on #491
actually never mind, this is working, i think my paths got messed up.

[2022-11-22 18:32] #491 closed

[2022-11-22 18:48] bryevdv commented on #205
Missed this, yes it is fixed now.

[2022-11-22 18:48] #205 closed

[2022-11-23 23:28] manopapad commented on #398
@rohany this should be fixed with #452, can you confirm?

[2022-11-23 23:28] manopapad commented on #185
@magnatelee Our prerequisites are now documented in BUILD.md and the conda env files. Is that sufficient?

[2022-11-23 23:29] rohany commented on #398
That particular code is not running right now, but from looking at the PR it should be fixed. Will close this and open later if it's a problem.

[2022-11-23 23:29] #398 closed

[2022-11-23 23:30] manopapad commented on #9
This has been completed.

[2022-11-23 23:30] #9 closed

[2022-11-23 23:48] magnatelee commented on #185
yeah I think that's sufficient for now.

[2022-11-23 23:48] #185 closed

[2022-11-25 03:24] rohany opened #497 "mapping: extremely long `map_task` calls by the `BaseMapper`"
I have an application where `map_task` invocations for a particular task are taking on the order of 10's to 100's of MS.

Profile: http://sapling.stanford.edu/~rohany/lassen-gmg-1-gpu-3000/?start=5208171.801858855&end=5565692.92951843&collapseAll=false&resolution=10.

This should be reproducible by `legate examples/gmg.py -n 3000 -m 100 --fbmem 13000 --zcmem 10000 --sysmem 25000` from within the `

[2022-11-28 20:12] #463 closed

[2022-11-29 00:36] rohany opened #501 "`ReturnValues` should not access GPU streams when not on TOC proc"
This code: https://github.com/nv-legate/legate.core/blob/branch-22.12/src/core/task/return.cc#L212 mistakenly tries to access CUDA streams when not tied to a GPU task.

[2022-11-30 01:50] magnatelee commented on #501
@rohany thanks for reporting this. does this cause any crash or weird behavior?

[2022-11-30 01:55] rohany commented on #501
It caused a crash for me when I ran with significantly more cpus or omps than gpus per node. I ran into it when preparing a reproducer that had 16 ranks per node.

[2022-11-30 07:36] #501 closed